#galeria {
  margin: 0px 0;
  background-color: #181818;
}

#galeria h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  /* padding: 20px; */
  color: #c6c6c6;
}

#galeria .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 18px;
  text-align: center;
}


@media (max-width:425px) {

  #galeria h2 {

    padding-top: 20px;
    padding-bottom: 10px;

  }
}

